<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header %>
  </head>
  <body role="document">
    <% include navBar %>
    <div id="mainContainer" class="container-fluid">
      <div id="leftBar"> 
        <div class="panel-heading"></div>
      </div>
      <div id="middleBar">
        <% for(var j = 0; j < appData.length; j++){ %>
          <%for(var i = 0; i < appData[j].feeds.length; i++){ %>
            <div class="panel panel-primary feedBlock">
              <div class="panel-body feedBlockBody"> 
                <div>
                  <% var imagePath = appData[j].prfImagePath || 'images/defaultPersonImage.png'; %>
                  <img class= 'feedsImage' src=<%= imagePath %>>
                  <div class='feedsNameAndTime'>
                    <h5> <%= appData[j].name %> </h5>  
                    <h5> <%= appData[j].feeds[i].expDate %> <h5>
                  </div>
                </div>
                <div class='feedText'>
                  <h3><strong> <%= appData[j].feeds[i].title %> </strong></h3>
                  <p><%= appData[j].feeds[i].text %> </p>
                </div>
              </div>
              <% if(appData[j].feeds[i].comments.length > 0){ %>
              <div class='feedsCommentsContainer'>
                <% for(var n = 0; n < appData[j].feeds[i].comments.length; n++){ %>
                  <div>
                    <% var imagePath = 'images/defaultPersonImage.png'; %>
                    <% for(m = 0; m < appData.length; m++){ %>
                      <% if(appData[m].name == appData[j].feeds[i].comments[n].commenterName){ %>
                        <% imagePath = appData[m].prfImagePath; }%>
                    <% } %>
                    <img class= 'feedsCommentImage' src= <%= imagePath %>>
                    <h5 class='feedsCommentName'> <%= appData[j].feeds[i].comments[n].commenterName %> </h5>
                    <p class='feedsCommentText'> <%= appData[j].feeds[i].comments[n].text %> </p>
                  </div>
                <% }; %>
              </div>
              <% }; %>
            </div>
          <% }; %>
        <% }; %>
      </div>  
      <div id="rightBar">
        <div class="panel-heading">
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery/dist/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <!--Dynamically change the active tab of the navBar -->
    <script> document.getElementById('selectListItem').className = "active"; </script>
  </body>
</html>